@using InVent.Components.Pages.Internals
@using InVent.Data.Models
@inherits BaseDeliveryOrderDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        <div class="form-outer">
            <MudForm @ref=this.form @bind-IsValid="this.success" @bind-Errors="this.errors" @onkeyup="DetectEnter">
                <div class="form-inner">
                    <div class="field-group-2-custom">
                        <div class="switch-container">
                            <MudSwitch T="bool"
                                       @bind-Value=this.Status
                                       Color="Color.Success"
                                       UncheckedColor="Color.Error"
                                       Label="@this.StatusText">
                            </MudSwitch>
                        </div>
                        <MudTextField T="string"
                                      @bind-Value="this.Number"
                                      Required
                                      Clearable
                                      ClearIcon="@Icons.Material.Filled.Clear"
                                      OnClearButtonClick="()=>this.Number = null"
                                      Label="شماره حواله"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                    </div>
                    <MudAutocomplete T="Project"
                                     @bind-Value="this.Project"
                                     Required
                                     ToStringFunc="(e)=> ProjectToString(e)"
                                     SearchFunc="this.SearchProjects"
                                     Label="شماره پروژه"
                                     Clearable
                                     ClearIcon="@Icons.Material.Filled.Clear"
                                     OnClearButtonClick="()=>this.Project = null"
                                     Variant="Variant.Outlined">
                    </MudAutocomplete>
                                  @* Immediate
                                  TextUpdateSuppression="false" *@
                    <MudTextField T="int?"
                                  @bind-Value="this.Weight"
                                  Required
                                  Clearable
                                  ClearIcon="@Icons.Material.Filled.Clear"
                                  OnClearButtonClick="()=>this.Weight = null"
                                  Format="N0"
                                  Adornment="Adornment.End"
                                  AdornmentText="کیلوگرم"
                                  Label="وزن حواله"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                                  @* Immediate
                                  TextUpdateSuppression="false" *@
                    <MudTextField T="int?"
                                  @bind-Value="this.TankerFare"
                                  Required
                                  Clearable
                                  ClearIcon="@Icons.Material.Filled.Clear"
                                  OnClearButtonClick="()=>this.TankerFare = null"
                                  Format="N0"
                                  Adornment="Adornment.End"
                                  AdornmentText="تومان"
                                  Label="کرایه تانکر"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                </div>
            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="this.Cancel">انصراف</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">ذخیره</MudButton>
    </DialogActions>
</MudDialog>