@using InVent.Components.Pages.Internals
@using InVent.Data.Models
@using InVent.Extensions
@inherits BaseEntryDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>

        <MudForm @ref=this.form @bind-IsValid="this.success" @bind-Errors="this.errors" @onkeyup="DetectEnter">

            <div class="entry-top">
                <MudAutocomplete T="Refinery"
                                 @bind-Value="this.Refinery"
                                 Required
                                 ToStringFunc="(e)=> RefineryToString(e)"
                                 SearchFunc="this.SearchRefineries"
                                 Label="پالایشگاه"
                                 Clearable
                                 ClearIcon="@Icons.Material.Filled.Clear"
                                 OnClearButtonClick="()=>this.Refinery = null"
                                 Variant="Variant.Outlined">
                </MudAutocomplete>
                <MudAutocomplete T="Package"
                                 @bind-Value="this.Package"
                                 Required
                                 ToStringFunc="(e)=> PackageToString(e)"
                                 SearchFunc="this.SearchPackages"
                                 Label="بسته‌بندی"
                                 Clearable
                                 ClearIcon="@Icons.Material.Filled.Clear"
                                 OnClearButtonClick="()=>this.Package = null"
                                 Variant="Variant.Outlined">
                </MudAutocomplete>
                <MudAutocomplete T="DeliveryOrder"
                                 @bind-Value="this.DeliveryOrder"
                                 Required
                                 ToStringFunc="(e)=> DeliveryOrderToString(e)"
                                 SearchFunc="this.SearchDeliveryOrders"
                                 Label="حواله"
                                 Clearable
                                 ClearIcon="@Icons.Material.Filled.Clear"
                                 OnClearButtonClick="()=>this.DeliveryOrder = null"
                                 Variant="Variant.Outlined">
                </MudAutocomplete>
                <MudAutocomplete T="Product"
                                 @bind-Value="this.Product"
                                 Required
                                 ToStringFunc="(e)=> ProductToString(e)"
                                 SearchFunc="this.SearchProducts"
                                 Label="محصول"
                                 Clearable
                                 ClearIcon="@Icons.Material.Filled.Clear"
                                 OnClearButtonClick="()=>this.Product = null"
                                 Variant="Variant.Outlined">
                </MudAutocomplete>
            </div>
            <div class="entry-mid">
                <MudDatePicker @bind-Date=this.Date
                               Culture="@DateExtension.GetPersianCulture()"
                               TitleDateFormat="dddd, dd MMMM"
                               DateFormat="yyyy/MM/dd"
                               ClosingDelay="500"
                               @ref="_picker"
                               Variant="Variant.Outlined"
                               Label="تاریخ"
                               AutoClose
                               Editable>
                    <PickerActions>
                        <MudButton Class="mr-auto align-self-start" OnClick="SetToday">امروز</MudButton>
                    </PickerActions>
                </MudDatePicker>
                <MudAutocomplete T="Tanker"
                                 @bind-Value="this.Tanker"
                                 Required
                                 ToStringFunc="(e)=> TankerToString(e)"
                                 SearchFunc="this.SearchTankers"
                                 Label="راننده"
                                 Clearable
                                 ClearIcon="@Icons.Material.Filled.Clear"
                                 OnClearButtonClick="()=>this.Tanker = null"
                                 Variant="Variant.Outlined">
                </MudAutocomplete>

                <MudTextField T="int?"
                              @ref=this.TextFieldRefs[0]
                              Value="this.Filled"
                              ValueChanged="(e)=>{this.SetFilled(e);this.SetAverage();}"
                              Immediate
                              Required
                              Clearable
                              ClearIcon="@Icons.Material.Filled.Clear"
                              OnClearButtonClick="()=>this.Filled = null"
                              Label="تعداد بسته"
                              Variant="Variant.Outlined">
                </MudTextField>
                <MudTextField T="int?"
                              @ref=this.TextFieldRefs[1]
                              @bind-Value="this.Damaged"
                              Required
                              Clearable
                              ClearIcon="@Icons.Material.Filled.Clear"
                              OnClearButtonClick="()=>this.Damaged = null"
                              Label="معیوب"
                              Variant="Variant.Outlined">
                </MudTextField>
            </div>
            <div class="entry-ref">
                <MudTextField T="int?"
                              @ref=this.TextFieldRefs[2]
                              Value="this.RefineryFilled"
                              ValueChanged="e=>this.SetRefineryFilled(e)"
                              Immediate
                              Required
                              Clearable
                              ClearIcon="@Icons.Material.Filled.Clear"
                              OnClearButtonClick="()=>this.RefineryFilled = null"
                              Label="پر پالایشگاه"
                              Variant="Variant.Outlined">
                </MudTextField>
                <MudTextField T="int?"
                              @ref=this.TextFieldRefs[3]
                              Value="this.RefineryEmpty"
                              ValueChanged="e=>this.SetRefineryEmpty(e)"
                              Required
                              Clearable
                              Immediate
                              ClearIcon="@Icons.Material.Filled.Clear"
                              OnClearButtonClick="()=>this.RefineryEmpty = null"
                              Label="خالی پالایشگاه"
                              Variant="Variant.Outlined">
                </MudTextField>
                <MudTextField T="int?"
                              Value="this.RefineryNet"
                              TextChanged="this.SetDifference"
                              Immediate
                              ReadOnly
                              Required
                              Label="خالص پالایشگاه"
                              Variant="Variant.Outlined">
                </MudTextField>
            </div>
            <div class="entry-war">
                <MudTextField T="int?"
                              @ref=this.TextFieldRefs[4]
                              Value="this.WarehouseFilled"
                              ValueChanged="e=>this.SetWarehouseFilled(e)"
                              Immediate
                              Required
                              Clearable
                              ClearIcon="@Icons.Material.Filled.Clear"
                              OnClearButtonClick="()=>this.WarehouseFilled = null"
                              Label="پر انبار"
                              Variant="Variant.Outlined">
                </MudTextField>
                <MudTextField T="int?"
                              @ref=this.TextFieldRefs[5]
                              Value="this.WarehouseEmpty"
                              ValueChanged="e=>this.SetWarehouseEmpty(e)"
                              Required
                              Clearable
                              Immediate
                              ClearIcon="@Icons.Material.Filled.Clear"
                              OnClearButtonClick="()=>this.WarehouseEmpty = null"
                              Label="خالی انبار"
                              Variant="Variant.Outlined">
                </MudTextField>
                <MudTextField T="int?"
                              Value="this.WarehouseNet"
                              TextChanged="(e)=>{this.SetDifference();this.SetAverage();}"
                              Immediate
                              ReadOnly
                              Required
                              Label="خالص انبار"
                              Variant="Variant.Outlined">
                </MudTextField>
            </div>
            <div class="entry-bot">
                <MudTextField T="int?"
                              Value="this.Difference"
                              ReadOnly
                              Style="background-color:limegreen"
                              Label="اختلاف"
                              Variant="Variant.Outlined">
                </MudTextField>
                <MudTextField T="Double?"
                              ReadOnly
                              Value="this.Average"
                              Label="متوسط بسته"
                              Variant="Variant.Outlined">
                </MudTextField>
            </div>
        </MudForm>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="this.Cancel">انصراف</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">ذخیره</MudButton>
    </DialogActions>
</MudDialog>