@page "/Entries"
@using InVent.Components.Pages.Internals
@using InVent.Extensions
@using InVent.Data.Models
@inherits BaseEntryComponent

<div class="entity-container">
    <MudIconButton OnClick="e=>this.OpenAddDialog(e)"
                   Icon="@Icons.Material.Filled.Add"
                   Variant="Variant.Filled"
                   DropShadow="false"
                   Size="Size.Small"
                   Style="width:15%"
                   Color="Color.Primary"></MudIconButton>
    <MudTable T="Entry"
              Items="@this.EntriesList"
              @ref="this.Table"
              RowClass="cursor-pointer"
              Hover="true"
              Loading="@this.Loading"
              OnRowClick="e=>this.OpenViewDialog(e)"
              Breakpoint="Breakpoint.None"
              GroupHeaderStyle="background-color: #eee;"
              Outlined
              Striped
              LoadingProgressColor="Color.Info">
        <NoRecordsContent>
            <MudText>اینجا هیچی نیست.</MudText>
        </NoRecordsContent>
        <HeaderContent>
            <MudTh>
                <MudText Typo="Typo.body2">
                    تاریخ
                </MudText>
            </MudTh>
            <MudTh>
                <MudText Typo="Typo.body2">
                    شماره حواله
                </MudText>
            </MudTh>
            <MudTh>
                <MudText Typo="Typo.body2">
                    تعداد بسته
                </MudText>
            </MudTh>            
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="تاریخ">@DateExtension.DisplayPersianDate(context.Date)</MudTd>
            <MudTd DataLabel="شماره حواله">@context.DeliveryOrder.DeliveryOrderId</MudTd>
            <MudTd DataLabel="نعداد بسته">@context.Filled</MudTd>
            <MudTd Style="display:flex;justify-content:end">
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               OnClick="(e)=>this.OpenEditDialog(e,context)"
                               Color="Color.Primary">
                </MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               OnClick="(e)=>this.OpenDeleteDialog(e,context)"
                               Color="Color.Error">
                </MudIconButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</div>