@using InVent.Extensions
@using InVent.Data
@using InVent.Services
@inject NavigationManager NavigationManager
@inject UserService UserService


<div class="appbar">
    <div class="appbar-right">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="OpenDrawer"></MudIconButton>
        <div>
            <MudText Typo="Typo.body2">@PageTitleExtension.GetPageTitle(this.NavigationManager.Uri)</MudText>
        </div>
    </div>

    <AuthorizeView>
        <Authorized>
            <div>@context.User.Identity?.Name</div>
        </Authorized>
    </AuthorizeView>
</div>



<MudDrawer @bind-Open="@_open" Anchor="Anchor.Start" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="true">
    <MudDrawerHeader Style="border-bottom: 1px solid #ddd;">
        <MudText Typo="Typo.h6">InVent</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Href="/Tankers" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">
               تانکرها
            </MudText>
        </MudNavLink>
        @* <MudNavLink Href="/Tankers/AddNew" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">اضافه کردن تانکر جدید</MudText>
        </MudNavLink> *@
        <AuthorizeView Roles="admin">
            <MudNavLink Href="/Banks" Match="NavLinkMatch.All" Ripple>
                <MudText Typo="Typo.body2">
                    بانک‌ها
                </MudText>
            </MudNavLink>
            <MudNavLink Href="/Carriers" Match="NavLinkMatch.All" Ripple>
                <MudText Typo="Typo.body2">
                    شرکت‌های حمل‌ونقل
                </MudText>
            </MudNavLink>
            <MudNavLink Href="/Products" Match="NavLinkMatch.All" Ripple>
                <MudText Typo="Typo.body2">
                    محصولات
                </MudText>
            </MudNavLink>
            <MudNavLink Href="/Ports" Match="NavLinkMatch.All" Ripple>
                <MudText Typo="Typo.body2">
                    گمرک‌های خروج
                </MudText>
            </MudNavLink>
            <MudNavLink Href="/Customs" Match="NavLinkMatch.All" Ripple>
                <MudText Typo="Typo.body2">
                    گمرک‌های اظهار
                </MudText>
            </MudNavLink>
            <MudNavLink Href="/Packages" Match="NavLinkMatch.All" Ripple>
                <MudText Typo="Typo.body2">
                    بسته‌بندی‌ها
                </MudText>
            </MudNavLink>
            <MudNavLink Href="/Refineries" Match="NavLinkMatch.All" Ripple>
                <MudText Typo="Typo.body2">
                    پالایشگاه‌ها
                </MudText>
            </MudNavLink>
        </AuthorizeView>
        <MudNavLink Href="/Customers" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">
                مشتری‌ها
            </MudText>
        </MudNavLink>
        <MudNavLink Href="/Suppliers" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">
                تأمین‌کننده‌ها
            </MudText>
        </MudNavLink>
        <MudNavLink Href="/Projects" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">
                پروژه‌ها
            </MudText>
        </MudNavLink>
        <MudNavLink Href="/DeliveryOrders" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">
                حواله‌ها
            </MudText>
        </MudNavLink>
        <MudNavLink Href="/Bookings" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">
                بوکینگ‌ها
            </MudText>
        </MudNavLink>
        <MudNavLink Href="/Entries" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">
                ورودی‌ها
            </MudText>
        </MudNavLink>
        <MudNavLink Href="/Dispatches" Match="NavLinkMatch.All" Ripple>
            <MudText Typo="Typo.body2">
                خروجی‌ها
            </MudText>
        </MudNavLink>
        <AuthorizeView>
            <Authorized>
                <AuthorizeView Roles="admin" Context="innerContext">
                    <MudNavLink Match="NavLinkMatch.All" Ripple class="nav-link" href="Account/Register">
                        <MudText Typo="Typo.body2">
                            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> کاربر جدید
                        </MudText>
                    </MudNavLink>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <MudNavLink Match="NavLinkMatch.All" Ripple>
                        <button type="submit" class="nav-link">
                            <MudText Typo="Typo.body2">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> خروج
                            </MudText>
                        </button>
                    </MudNavLink>
                </form>
            </Authorized>
        </AuthorizeView>
    </MudNavMenu>
</MudDrawer>

@code {
    private string? currentUrl;
    private bool _open = false;


    private void OpenDrawer()
    {
        _open = !_open;
    }


    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }


    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        this.StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

