@page "/Tankers"
@using InVent.Components.Pages.Internals
@using InVent.Data.Models
@inherits BaseTankerComponent

<div class="entity-container">
    <MudIconButton OnClick="e=>this.OpenAddDialog(e)"
                   Icon="@Icons.Material.Filled.Add"
                   Variant="Variant.Filled"
                   DropShadow="false"
                   Size="Size.Small"
                   Style="width:15%"
                   Color="Color.Primary"></MudIconButton>
    <MudTable T="Tanker"
              Items="@this.TankersList"
              @ref="this.Table"
              RowClass="cursor-pointer"
              Hover="true"
              Loading="@this.Loading"
              OnRowClick="e=>this.OpenViewDialog(e)"
              Breakpoint="Breakpoint.None"
              GroupHeaderStyle=""
              Outlined
              Striped
              LoadingProgressColor="Color.Info">
        <NoRecordsContent>
            <MudText>اینجا هیچی نیست.</MudText>
        </NoRecordsContent>
        <HeaderContent>
            <MudTh>
                <MudText Typo="Typo.body2">
                    نام راننده
                </MudText>
            </MudTh>
            <MudTh>
                <MudText Typo="Typo.body2">
                    نوع بار
                </MudText>
            </MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel=" نام راننده">@context.DriverName</MudTd>
            <MudTd DataLabel="نوع بار">@context.CargoType</MudTd>
            <MudTd Style="display:flex;justify-content:end">
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               OnClick="(e)=>this.OpenEditDialog(e,context)"
                               Color="Color.Primary">
                </MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               OnClick="(e)=>this.OpenDeleteDialog(e,context)"
                               Color="Color.Error">
                </MudIconButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</div>